@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);


:root {
  /* Fonts */
  --text-font-family: Montserrat;
  --text-font-is-google: 1;
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: 'Josefin Sans';
  --header-font-is-google: 1;
  --code-font-family: 'Fira Mono';
  --code-font-is-google: 1;
  --base-font-size: 20px;
  --text-font-size: 1rem;
  --code-font-size: 0.9rem;
  --code-inline-font-size: 1em;
  --header-h1-font-size: 2.75rem;
  --header-h2-font-size: 2.25rem;
  --header-h3-font-size: 1.75rem;

  /* Colors */
  --text-color: #272822;
  --header-color: #005337;
  --background-color: #FFFFFF;
  --link-color: #0fb157;
  --text-bold-color: #0fb157;
  --code-highlight-color: rgba(255,255,0,0.5);
  --inverse-text-color: #FFFFFF;
  --inverse-background-color: #005337;
  --inverse-header-color: #FFFFFF;
  --title-slide-background-color: #1c5253;
  --title-slide-text-color: #FFFFFF;
  --header-background-color: #1c5253;
  --header-background-text-color: #FFFFFF;
  --base: #1c5253;
  --white: #FFFFFF;
  --black: #272822;
}




.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

h1, #TOC>ul>li {
  color: #005337;
  font-family:  'Josefin Sans';
  font-weight: bold;
  text-align: center;
}

h2, #TOC>ul>ul>li {
  color: #005337;
  font-family:  'Josefin Sans';
  font-weight: bold;
}

h3 {
  color: #005337;
  font-family:  'Josefin Sans';
  font-weight: bold;
}
a {
  color: #0ead5b;
}
body {background-color: #FFFFFF;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


body {
  font-family: var(--text-font-family), var(--text-font-family-fallback), var(--text-font-base);
  font-weight: 400;
  color: var(--text-color);
}


a, a > code {
  color: #272822;
  text-decoration: underline;
}
